.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
.env
data/
data/kaggle/
!data/
!data/processed/
!data/processed/stocktwits_kaggle_daily_sentiment/
!data/processed/stocktwits_kaggle_daily_sentiment/roberta/
!data/processed/stocktwits_kaggle_daily_sentiment/roberta/**
artifacts/
*.pyc
