.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
.env
data/**
!data/
!data/processed/
!data/processed/stocktwits_kaggle_daily_sentiment/
!data/processed/stocktwits_kaggle_daily_sentiment/roberta/
!data/processed/stocktwits_kaggle_daily_sentiment/roberta/**
artifacts/
models/
docs/
*.pyc
*.csv
*.csv.gz
*.csv.gz.done
*.safetensors
*.pt
README*
*.md
*.MD
